%div.col-xs-12.post-index-head
  = link_to "Local Posts", posts_path, class: "btn btn-warning"
  %a.btn.btn-primary{href: "https://github.com/tumblr/tumblr_client", target: "_blank"}Tumblr API Gem


%div.col-xs-12.col-sm-5.border-all-posts
  %h3 Recent Tumblr Blog Posts
  - @blogs.each do |blog|
    %div.each-post
      %div.each-title
        = blog.title
        %div.each-body
          = blog.body
          %div.each-body
            = blog.caption

