= link_to "New Post", new_post_path, class: "btn btn-primary"

%div.col-xs-6.border-all-posts
  %h3 Recent Posts
  - @posts.each do |post|
    %div.each-post
      %div.each-title
        = post.title
      %div.each-post-body
        = post.body
