/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
}
.container-fluid {
  padding: 0px;
}
.navbar-default .navbar-brand {
  color: #2a6496
}
.navbar {
  background-color: #b9d3ee;
  margin-bottom: 10px;
}
.nav-format {
  float: left;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 1.5em;
}
.navbar-brand {
  color: #2a6496;
  padding-top: 15px;
}
.border-form-div {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-all-posts {
  background-color: #b9d3ee;
  border: solid 1px #e7e7e7;
  padding: 5px 10px 5px;
  margin: 0 auto;
 -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-all-posts h3 {
    color: #2a6496
}

input#user_remember_me {
  margin-right: 5px;
}
input#user_email, input#user_password, input#user_password_confirmation, input#user_name {
  margin-bottom: 15px;
/*   font-size: 16px;
  height: auto;
  padding: 7px 9px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;   */
}
.each-post {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f2f5;
  border-radius: 3px;
}
.each-title {
  font-size: .9em;
  font-weight: bold;
}
.each-post-body {
  font-size: .8em;
}
.post-index-head {
  padding: 0px 20px 10px;
}
.alert-dismiss {
  font-size: 1.3em;
}


